<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Cyber Sleuth's Necronomicon</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- Webfonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap" rel="stylesheet">

    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="./styles/index-styles.css">
    <link rel="stylesheet" href="./styles/digimon-selected.css">
    <script src="src/loader.js" type="module"></script>
</head>

<body>
    <div id="app">
        <header>
            <h1 id="title" class="display-5">Cyber Sleuth's Necronomicon</h1>
        </header>

        <section id="controls">
            <div id="search-controls">
                <input class="form-control" placeholder="Search by name" @keyup.enter="search(searchTerm)"
                    v-model.trim="searchTerm">
                <button class="btn btn-outline-success" type="submit" @click="search(searchTerm)">Search</button>
            </div>

            <div id="list-controls">
                <b-form-group id="list-amount-group" label="List Amount" label-for="list-amount-select">
                    <b-form-select v-model="listAmount" :options="listAmountOptions" id="list-amount-select">
                    </b-form-select>
                </b-form-group>
                <b-form-group id="stage-group" label="Stage" label-for="stage-select">
                    <b-form-select v-model="stageFilter" :options="stageOptions" id="stage-select"></b-form-select>
                </b-form-group>
                <b-form-group id="type-group" label="Type" label-for="type-select">
                    <b-form-select v-model="typeFilter" :options="typeOptions" id="type-select"></b-form-select>
                </b-form-group>
                <b-form-group id="attribute-group" label="Type" label-for="attribute-select">
                    <b-form-select v-model="attributeFilter" :options="attributeOptions" id="attribute-select"></b-form-select>
                </b-form-group>

                <button class="btn btn-outline-success" type="submit" @click="resetOffset(); list();">List</button>
            </div>
        </section>

        <section id="results-area" class="col-md-12">
            <div id="preloader-container" v-if="appState == appStates.searching">
                <img id="preloader" src="./media/preloader.gif">
            </div>

            <div id="search-results" v-if="appState == appStates.search">
                <digimon-selected-display v-if="searchResult" :name="searchResult.name" :stage="searchResult.stage"
                    :imgsrc="searchResult.image" :type="searchResult.type" :attribute="searchResult.attribute"
                    :skillname="searchResult.skill.name" :skilldescription="searchResult.skill.description"
                    :abstract="searchResult.abstract" :wikiurl="searchResult.url"
                    :digivolvesto="searchResult.digivolvesTo" :degeneratesto="searchResult.degeneratesTo">
                </digimon-selected-display>
                <p v-else>No search results found</p>
            </div>

            <div id="list-results" v-else-if="appState == appStates.list">
                <div id="list-results-container" v-if="listResult.length > 0">
                    <div id="pagination">
                        <!-- <b-pagination-nav v-model="currentPage" :total-rows="totalListResults" :per-page="listAmount" first-text="First" prev-text="Prev" next-text="Next" last-text="Last"></b-pagination-nav> -->
                        <p>Page: ({{listPaging.currentPage}}/{{listPaging.totalPages}})</p>
                        <button class="btn btn-outline-success" type="submit" @click="reduceOffset">Previous</button>

                        <button class="btn btn-outline-success" type="submit" @click="increaseOffset">Next</button>
                    </div>

                    <digimon-card-container :digimons="listResult"></digimon-card-container>
                </div>
                <p v-else>No list results found</p>
            </div>
        </section>
    </div>
</body>

</html>