/* * {
    border: 1px solid black;
} */

#digimon-selected-display {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

#digimon-selected-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#digimon-selected-name,
#digimon-selected-stage {
    text-align: center;
}

#digimon-selected-image-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#digimon-selected-image {
    display: block;
    width: 22rem;
}

#digimon-selected-info {
    display: flex;
    flex-flow: column;
}

/* #digimon-table {} */

#digimon-selected-type-icon,
#digimon-selected-attribute-icon {
    width: 32px;
}

#digimon-selected-abtract {
    max-width: 26rem;
}


/* #digimon-selected-wiki-link {} */

#digimon-selected-arrays {
    margin: 1rem;
}

#digimon-selected-degenerations .digimon-card,
#digimon-selected-digivolutions .digimon-card {
    max-width: 8rem;
}

#digimon-selected-degenerations .digimon-card .card-title,
#digimon-selected-digivolutions .digimon-card .card-title {
    font-size: 1rem;
    width: fit-content;
    white-space: nowrap;

    margin-top: auto;
}