/* * {
    border: 1px solid black;
} */

body {
    padding: 1rem;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Orbitron', sans-serif;
}

#title {
    margin-bottom: 2rem;
}

#controls {
    display: flex;
    flex-flow: column;
}

#controls>* {
    margin: 0.6rem 0;
}

#search-controls {
    display: flex;
}

/* #list-controls {} */

#results-area {
    padding: 0;
}

#preloader-containter {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.267);
}

#preloader {
    display: block;
    width: 10rem;
    height: 1.4rem;
    margin: 1rem auto;
}

#search-results {
    margin: 2rem;
}

/* #list-results {} */

#pagination {
    width: fit-content;
    margin: 1rem 0;
}

#pagination p {
    text-align: center;
}

#pagination button {
    margin: 0 0.4rem;
}

#digimon-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.digimon-card {
    max-width: 16rem;
    margin: 1rem;
    text-align: center;
}

.digimon-card:hover {
    background-color: rgba(0, 0, 0, 0.164);
}